<div class="welcome">
	<div class="container">

		<div class="right"><%= image_tag 'library.jpg', width: '300px' %></div>
		<h1>Welcome to the public library website!</h1>
		<p style="width:700px; float:left">If you need to rent a book, this is the perfect place to you. 
			We have available millions of titles from famous authors and you can rent as many books as you want for free. On this new website, you can rent a book without having to go out of your home! Click on the "Register" navigation to start renting books, or click on the "All books" button on the navigation to see all books that we have available.	But attention: some books may not be available at that moment, so make sure to click on the "show" button of the desired book and see if the "Loan number" field is filled. We hope you enjoy! </p>				
		<br style="clear:both">
	</div>
</div>

<div class="container">

	<div class="col-left">
		<h2>Open hours:</h2>
<p>Monday:	9:00AM – 9:00PM<br>
Tuesday: 9:00AM – 9:00PM<br>
Wednesday: 9:00AM – 9:00PM<br>
Thursday: 9:00AM – 9:00PM<br>
Friday:	9:00AM – 5:00PM<br>
Saturday: 9:00AM – 5:00PM<br>
Sunday:	1:00PM – 5:00PM</p>

	</div>


	<div class="col-right">
		<h2>Location:</h2>
		<p>123 Main Street<br>
		Chicago, Illinois</p>

		<h2>Contact info:</h2>
		<p>Tel: 123-456-7890<br>
		Email: library@library.com</p>
	</div>
</div>

